* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
body {
  overflow: hidden;
}
a {
  color: black;
  text-decoration: none;
}
.top {
  width: 1140px;
  height: 150px;
  /* background-color: rgb(145, 255, 118); */
  border-bottom: 10px solid #969696;
  text-align: center;
  line-height: 150px;
  font-size: 80px;
  font-weight: 900;
  /* border-bottom-right-radius: 20px; */
  /* border-bottom-left-radius: 20px; */
}
.contents {
  width: 1200px;
  margin-top: 30px;
}
.main_btn {
  position: relative;
  width: 540px;
  height: 300px;
  margin: 30px;
  background-color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  line-height: 300px;
  font-size: 54px;
  font-weight: 900;
  border-radius: 20px;
  overflow: hidden;
}
.main_btn:hover {
  font-size: 72px;
}
.main_img {
  width: 540px;
  height: 300px;
  opacity: 50%;
}
.main_btn_text {
  position: absolute;
  width: 500px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  line-height: 100px;
  left: 20px;
  top: 100px;
  z-index: 1;
}
.footer {
  /* border-top-right-radius: 20px; */
  /* border-top-left-radius: 20px; */
  border-top: 10px solid #969696;
  text-align: center;
  margin-top: 750px;
  height: 80px;
  width: 1140px;
  line-height: 50px;
  /* background-color: rgb(145, 255, 118); */
  font-size: 20px;
  color: #aaaaaa;
}
.act_main_btn {
  position: relative;
  width: 240px;
  height: 300px;
  margin: 30px;
  background-color: rgb(221, 221, 221);
  float: left;
  text-align: center;
  line-height: 300px;
  font-size: 54px;
  font-weight: 900;
  border-radius: 20px;
  overflow: hidden;
}
.act_main_img {
  width: 240px;
  height: 200px;
}
.act_main_btn_text {
  position: absolute;
  width: 240px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  left: 0px;
  top: 190px;
  z-index: 1;
  font-size: 40px;
}
.movie {
  position: relative;
  margin: 20px;
  width: 360px;
  height: 700px;
  background-color: rgb(243, 243, 243);
  float: left;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}
.movie:hover {
  opacity: 0.5;
}

.movie:hover .movie_detail {
  opacity: 1;
  z-index: 1;
}
.movie_detail {
  position: absolute;
  top: 230px;
  left: 30px;
  width: 300px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.671);
  opacity: 0;
}

.movie_img {
  width: 360px;
}
.movie_desc {
  text-align: left;
  padding: 10px;
}
.bold {
  font-weight: bold;
}
.learn_main_btn {
  position: relative;
  width: 560px;
  height: 200px;
  margin: 20px;
  background-color: rgb(221, 221, 221);
  float: left;
  line-height: 200px;
  border-radius: 20px;
  overflow: hidden;
}
.learn_main_img {
  width: 200px;
  height: 200px;
}
.learn_main_btn_text {
  width: 360px;
  height: 200px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 200px;
}
.download_app {
  width: 1200px;
  height: 100px;
  background-color: rgb(234, 255, 48);
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  font-weight: 900;
  border-radius: 20px;
  margin-top: 20px;
}
.app_main_btn {
  position: relative;
  width: 360px;
  height: 200px;
  margin: 20px;
  background-color: rgb(221, 221, 221);
  float: left;
  line-height: 100px;
  border-radius: 20px;
  overflow: hidden;
}
.app_main_img {
  width: 160px;
  height: 200px;
}
.app_main_btn_text {
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 160px;
}
.learn_video {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}
.learn_text {
  float: left;
  width: 510px;
  height: 692px;
  background-color: rgb(228, 228, 228);
  border: 5px solid #4d4d4d;
  border-radius: 20px;
  padding: 10px;
  margin-right: 20px;
}

.painting_desc {
  border: 5px solid #7d7d7d;
  width: 1180px;
  height: 220px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
}
.painting_bottom {
  width: 1200px;
  height: 500px;
}
.painting_example {
  float: left;
  width: 400px;
  height: 500px;
  /* background-color: #aaaaaa; */

  /* border-radius: 20px; */

  overflow: hidden;
}
.painting_image {
  width: 360px;
  height: 350px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}
.painting_title {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 230px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  /* line-height: 130px; */
  display: block;
}
.walk_example {
  height: 220px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: 1200px;
  background-color: antiquewhite;
  overflow: hidden;
  position: relative;
}
.walk_image {
  height: 220px;
  width: 330px;
}
.walk_desc {
  height: 220px;
  width: 650px;
  background-color: antiquewhite;
  position: absolute;
  left: 340px;
  top: 0px;
}
.app_image {
  float: left;
  width: 600px;
}
.jamsil_is_doosan {
  float: left;
  width: 550px;
  margin-left: 20px;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 20px;
  height: 720px;
  border: 5px solid #7f7f7f;
}
.bold_title {
  font-weight: bold;
  display: block;
  font-size: 35px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.app_desc {
  font-size: 20px;
  line-height: 30px;
}
.list_ul li {
  list-style: decimal;
}
.game_main_btn {
  float: left;
  width: 550px;
  height: 700px;
  margin: 20px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #aaaaaa;
  position: relative;
}
.game_main_img {
  width: 550px;
  height: 530px;
}
.game_main_btn_text {
  position: absolute;
  width: 550px;
  height: 170px;
  text-align: center;
  line-height: 170px;
  left: 0px;
  top: 530px;
  z-index: 1;
  font-size: 40px;
}
